h1 {
    text-align: center;
    font-size: 50px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 30px;
}

.card {
    width: 200px;
}

.card img {
    width: 200px;
    height: 330px;
    object-fit: cover;
}

.card h2 {
    margin-bottom: 5px;
}

.card h3 {
    margin-top: 0;
    color: gray;
}

.card p {
    margin: 8px 0;
}

.green {
    color: green;
}

.red {
    color: red;
}